.title{
    justify-content: left;
}
main, .main{
    height: 100vh;
}
.infos{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    padding-bottom: 2rem;
}

.infos-text{
    width: 100%;
}
.infos-maps{
    width: 100%;
    height: 100vh;
}
.infos-maps google-map{
    height: 100vh;
}

.report-info {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.report-info img{
    width: 25px;
    height: 25px;
}

.textarea-descricao, #descricao{
    width: 70%; 
    height: 44px;

    text-align: justify;
}
.report-info p{
    display: flex;
    margin-left: 0.5rem;
    text-align: center;
    align-items: center;
}

.report-info textarea{
    padding: 0.5rem;
}

.report-info textarea, .input{
    width: 100%;
    margin: 0 0 0 0.5rem;
}

form{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.input{
    margin-right: 0.5rem;
}

.update{
    width: 40%;
}

.remove{
    background-color: #D83131;

    margin: 1rem 0;
    padding: 0.7rem;

    width: 35%;
    height: 8%;
}

.galery {
    display: flex;
    align-items: center;
    justify-content: center;
}
.galery img, video{
    width:75%;
}

@media (max-width: 784px) {
    .infos{
        flex-direction: column;
        height: 88vh;
    }

    .infos-maps{
        height: 50vh;
    }

    .textarea-descricao, #descricao{
        width: 100%;
    }

    .report-info p{
        display: flex;
        margin-left: 0.5rem;
        text-align: left;
        align-items: left;
    }

    .update{
        margin-left: 0.5rem;
        width: 40%;
    }

    .report-info textarea, .input{
        width: 100%;
        margin: 0 0 0 0.5rem;
    }
    
    form{
        display: flex;
        width: 100%;
    }

    .remove{
        background-color: #D83131;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 1.5rem;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .update{
        margin-left: 0.5rem;
        width: 90%;
    }
}