<div *ngIf="reportDetails; else notFound">
  <h2>Detalhes do Reporte</h2>
  <p><strong>Id(Protocolo):</strong> {{ reportDetails.id }}</p>
  <p><strong>Tipo de Reporte:</strong> {{ reportDetails.categoria }} | {{ reportDetails.tipoReporte }}</p>
  <p><strong>Endereço:</strong> {{ reportDetails.endereco }} , n° {{ reportDetails.numero }}</p>
  <p><strong>Descrição:</strong> {{ reportDetails.descricao }}</p>
  <p><strong>Nome:</strong> {{ reportDetails.nome }}, {{reportDetails.cpf}}</p>
  <p><strong>Contato:</strong> {{ reportDetails.email}}, {{reportDetails.telefone}}</p>
  <p><strong>Data:</strong> {{ reportDetails.dataReporte }}</p>
  <div>
    <p><strong>Status do reporte:</strong></p>
    <form [formGroup]="reportViewForm" (ngSubmit)="updateReportStatus()" autocomplete="off">
      <select name="status" formControlName="status" id="status" required>
        <option value="Pendente">Pendente</option>
        <option value="Encaminhado">Encaminhado</option>
        <option value="Concluido">Concluído</option>
      </select>

      <button type="submit">Atualizar Status</button>
    </form>
    
    <button type="button" (click)="deleteReport(reportDetails.id)">Excluir Reporte</button>
  </div>
</div>

<ng-template #notFound>
  <app-page-not-found></app-page-not-found>
</ng-template>
