
main .welcome-content{
    height: 100%;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title{
    font-weight: bold;
    color: var(--primary-color);
    justify-content: left;
}

.title span{
    color: var(--white);
    margin-right: 0.5rem;
    -webkit-text-stroke: 1px var(--primary-color);
}

.welcome-message h1, p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.welcome-message > h1 > .register, a{
    color: var(--primary-color);
}

img{
    width: 36.4375rem;
    height: 27.0625rem;
    flex-shrink: 0;
}


@media (max-width: 1075px) and (min-width: 737px) {
    img{
        width: 24.4375rem;
        height: 20.0625rem;
        flex-shrink: 0;
    }
}
@media (max-width: 737px) {
    main{
        padding-top: 6rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .welcome-content{
        flex-direction: column;
    }
    img{
        width: 20.4375rem;
        height: 15.0625rem;
        flex-shrink: 0;
    }
}

@media (max-width: 328px) {
    .title {
        display: flex;
        flex-direction: row;
    }
    img{
        width: 15.4375rem;
        height: 14.0625rem;
        flex-shrink: 0;
    }
}