<main>
    <section>
        <div class="welcome-message">
            <h1 class="title"><span>O que é</span> OuviP2?</h1>
            <p>
                "OuviP2" é um website responsável por obter relatórios de problemas urbanos relatados pela população de Pedro II, Piauí, e encaminhá-los para o setor responsável, a Ouvidoria Pública, a fim de que possam ser solucionados.
            </p>
            <p>
                A ouvidoria pública é um canal de comunicação que conecta cidadãos a órgãos governamentais, permitindo que expressem opiniões, denúncias e sugestões sobre serviços públicos. Ela visa aumentar a transparência, responsabilidade e eficiência do governo ao encaminhar e resolver questões, fortalecendo a confiança da população na administração pública. 
            </p>
            <p class="register">
                <a routerLink="/login">Faça seu login ou cadastre-se aqui.</a>
            </p>
        </div>
        <div>
            <img src="assets/images/welcome_image.svg" alt="Icone de boas vindas">
        </div>
    </section>
</main>
