.how-report{
    display: flex;

    justify-content: space-between;
}

.tutorial-image img{
    width: 37.4375rem;
    height: 26.5rem;
}

.tutorial{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

h1{
    font-weight: bold;
    color: var(--primary-color);
}

span{
    color: var(--white);
    -webkit-text-stroke: 1px var(--primary-color);
}

.step{
    margin: 1.5rem 0;
    display: flex;
    align-items: end;
}

.step h1{
    margin: 0;

    align-items: end;
}

.step p{
    margin-left: 0.7rem;
}

.step p a{
    margin: 0;
    color: var(--primary-color);
    text-decoration: underline;
}

.reports{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    margin-top: 2.5rem;
}

.reports h1{
    margin: 0;
}

.reports-list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 100%;
    max-height: 100%;

    margin: 0 auto;

    margin-top: 2rem;
}

.report{
    background-color: var(--primary-color);
    border-radius: 5px;

    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    cursor: pointer;
}

.report:hover{
    transition: .5s;
    box-shadow: 0px 5px 1px 10px rgba(10, 92, 3, 0.25), 1px 5px 1px 5px rgba(16, 151, 4, 0.25);
}

.report p{
    color: white;

    text-align: center;
    font-size: 0.9rem;

    margin-top: 1rem;
}


footer{
    margin-top: 5rem;

    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;

    -ms-flex-align: center;
    align-items: center;
    justify-content: center;

    padding: 4rem;
}

footer div{
    text-align: center;
}

footer div p, a{
    margin: 1rem;
    color: var(--white);
}



@media (max-width: 1075px) and (min-width: 648px) {
    .how-report{
        align-items: center;
        justify-content: center;
    }

    .tutorial-image img{
        width: 20.4375rem;
        height: 15.0625rem;
        flex-shrink: 0;
    }
}

@media (max-width: 648px) {

    .how-report{
        flex-direction: column-reverse;
    }

    .tutorial-image{
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .tutorial-image img{
        width: 20.4375rem;
        height: 15.0625rem;
        flex-shrink: 0;
    }

    .tutorial{
        margin: 1.5rem 0;
    }
}

@media (max-width: 372px) {
    .tutorial-image img{
        width: 70%;
        height: 40%;
        flex-shrink: 0;
    }
}