nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    margin: 0 2rem;
    align-items: center;
}
nav > a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    margin-left: 2rem;
}
li a{
    color: var(--primary-color);
}

.iconNav{
    display: flex;
    align-items: center;
}
.iconNav h2{
    color: var(--primary-color);
}