<nav>
    <a routerLink="home" routerLinkActive="active">OuviP2</a>

    <div>
        <ul>
            <li><a routerLink="/" *ngIf="loginbtn" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="login" *ngIf="loginbtn" routerLinkActive="active">Login</a></li>
            <li><a routerLink="registration" *ngIf="loginbtn" routerLinkActive="active">Register</a></li>
            <li><button type="button" (click)="logout()" *ngIf="logoutbtn">Logout</button></li>

        </ul>
    </div>
</nav>
