nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
nav > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    margin-left: 2rem;
}