<main>
  <h2 class="title">Manifestar</h2>
  <hr class="line">

  <p>* Os campos com asterisco são obrigatórios</p>

  <form [formGroup]="reportForm" (ngSubmit)="postdata()" class="formulario">
    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="tipo-reporte"><span>*</span> Tipo de Manifestação: </label>
        <input type="text" class="input" id="tipoReporte" name="tipoReporte" formControlName="tipoReporte"
          placeholder="Informe o tipo de reporte..." required>
      </div>

      <div class="info-two">
        <label class="label-input" for="categoria"><span>*</span> Categoria: </label>
        <select name="categoria" class="input categoria" id="categoria" required formControlName="categoria">
          <option value="" disabled selected>Selecione uma categoria...</option>
          <option value="Denúncia">Denúncia</option>
          <option value="Reclamação">Reclamação</option>
          <option value="Sugestão">Sugestão</option>
          <option value="Solicitação">Solicitação</option>
          <option value="Elogio">Elogio</option>
        </select>
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="descricao"><span>*</span> Descrição da Manifestação: </label>
        <textarea name="descricao" class="input descricao" id="descricao" placeholder="Escreva aqui sua manifestação..."
          formControlName="descricao" cols="30" rows="10" autocomplete="off" maxlength="3000" required></textarea>
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="descricao">Marcar Localização Exata: </label>
        <google-map height="300px" width="98%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)">
          <map-marker [position]="markerPositions[0]" [options]="markerOptions"></map-marker>
        </google-map>
        <input type="hidden" class="input" id="lat" name="lat" formControlName="lat">
        <input type="hidden" class="input" id="longi" name="longi" formControlName="longi">
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="endereco"><span>*</span> Endereço: </label>
        <input type="text" class="input" id="endereco" name="endereco" placeholder="Informe o endereço..."
          formControlName="endereco" autocomplete="off" required>
      </div>
      <div class="info-two">
        <label class="label-input" for="numero">Número: </label>
        <input type="number" class="input" id="numero" placeholder="Informe o número..." autocomplete="off"
          formControlName="numero" name="numero">
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="bairro"><span>*</span> Bairro: </label>
        <select name="bairro" class="input bairro categoria" id="bairro" required formControlName="bairro">
          <option value="" disabled selected>Selecione um bairro...</option>
          <option value="Centro">Centro</option>
          <option value="Cruzeiro">Cruzeiro</option>
          <option value="Caixa Dágua">Caixa Dágua</option>
          <option value="Saborá">Saborá</option>
          <option value="Santo Antônio">Santo Antônio</option>
          <option value="Cristo Rei">Cristo Rei</option>
          <option value="Chapadinha">Chapadinha</option>
          <option value="Boa Esperança">Boa Esperança</option>
          <option value="Pirapora">Pirapora</option>
          <option value="São Gonçalo">São Gonçalo</option>
          <option value="Santo Antônio">Cristo Rei</option>
          <option value="São Francisco">São Francisco</option>
          <option value="Vila Operária">Vila Operária</option>
          <option value="Vila Kolping">Vila Kolping</option>
          <option value="Lajinhas">Lajinhas</option>
          <option value="Areia Branca">Areia Branca</option>
          <option value="Loteamento Umburana">Loteamento Umburana</option>
          <option value="Loteamento Parque das Opalas">Loteamento Parque das Opalas</option>
          <option value="Loteamento Vila Das Flores">Loteamento Vila Das Flores</option>
          <option value="Loteamento Rosa Nogueira">Loteamento Rosa Nogueira</option>
          <option value="Loteamento Flor De Lis">Loteamento Flor De Lis</option>
          <option value="Loteamento Reserva Dos Pinheiros">Loteamento Reserva Dos Pinheiros</option>
        </select>
      </div>
      <div class="info-two">
        <label class="label-input" for="referencia"> Ponto de Referência: </label>
        <input type="text" class="input" id="referencia" placeholder="Insira um ponto de referência..."
          formControlName="referencia" name="referencia" autocomplete="off">
      </div>
    </div>

    <input type="hidden" value="Pendente" id="statusReporte" name="statusReporte" formControlName="statusReporte"
      readonly>

    <ngx-recaptcha2 class="recaptcha" [siteKey]="suaSiteKey" (success)="onRecaptchaResolved($event)"></ngx-recaptcha2>

    <button type="submit" class="button">Manifestar</button>
  </form>

</main>