<main>
  <h2 class="title">Reportar</h2>
  <hr class="line">
  
  <p>* Os campos com asterisco são obrigatórios</p>

  <form [formGroup]="reportForm" (ngSubmit)="postdata()" class="formulario">
    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="tipo-reporte"><span>*</span> Tipo Reporte: </label>
        <input type="text" class="input" id="tipoReporte" name="tipoReporte" formControlName="tipoReporte" placeholder="Informe o tipo de reporte..." required>
      </div>

      <div class="info-two">
        <label class="label-input" for="categoria"><span>*</span> Categoria: </label>
        <select name="categoria" class="input categoria" id="categoria"  required formControlName="categoria">
          <option value="" disabled selected>Selecione uma categoria...</option>
          <option value="Reclamação">Reclamação</option>
          <option value="Sugestão">Sugestão</option>
          <option value="Solicitação">Solicitação</option>
          <option value="Elogio">Elogio</option>
        </select>
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="descricao"><span>*</span> Descrição: </label>
        <textarea name="descricao" class="input descricao" id="descricao" placeholder="Descreva o ocorrido..." formControlName="descricao" cols="30" rows="10" autocomplete="off" maxlength="3000"required></textarea>
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="endereco"><span>*</span> Endereço: </label>
        <input type="text" class="input" id="endereco" name="endereco" placeholder="Informe o endereço..." formControlName="endereco" autocomplete="off" required>
      </div>
      <div class="info-two">
        <label class="label-input" for="numero">Número: </label>
        <input type="number" class="input" id="numero" placeholder="Informe o número..." autocomplete="off" formControlName="numero" name="numero">
      </div>
    </div>

    <div class="info-sec">
      <div class="info-one">
        <label class="label-input" for="bairro"><span>*</span> Bairro: </label>
        <input type="text" class="input" id="bairro" placeholder="Informe o bairro..." formControlName="bairro" name="bairro" autocomplete="off">
      </div>
      <div class="info-two">
        <label class="label-input" for="referencia">Referência: </label>
        <input type="text" class="input" id="referencia" placeholder="Informe uma referência..." formControlName="referencia" name="referencia" autocomplete="off">
      </div>
    </div>

    <input type="hidden" value="Pendente" id="statusReporte" name="statusReporte" formControlName="statusReporte"
      readonly>

    <button type="submit" class="button">Reportar</button>
  </form>

</main>