<main>
    <h2 class="title">Criar conta</h2>
    <hr class="line">

    <form [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off" class="">
        <div class="info-sec">
            <div class="info-one">
                <label class="label-input">Nome Completo:</label>
                <input type="text" name="nome" class="input" formControlName="nome" placeholder="Digite seu nome completo..." autocomplete="off">
            </div>
    
            <br>

            <div class="info-two">
                <label class="label-input">CPF:</label>
                <input type="text" name="cpf" class="input" formControlName="cpf" placeholder="XXX.XXX.XXX-XX" autocomplete="off">
            </div>
        </div>

        <div class="info-sec">
            <div class="info-one">
                <label class="label-input">Email:</label>
                <input type="text" name="email" class="input" formControlName="email" placeholder="Digite seu email..." autocomplete="off">
            </div>
            <br>
            <div class="info-two">
                <label class="label-input">Telefone:</label>
                <input type="text" name="telefone" class="input" formControlName="telefone" placeholder="(XX)XXXX-XXXX" autocomplete="off">
            </div>
        </div>

        <div class="info-sec">
            <div class="info-one">
                <label class="label-input">Senha:</label>
                <input type="password" name="senha" class="input" formControlName="senha" placeholder="Digite sua senha..." autocomplete="off">
            </div>
            <br>
            <div class="info-two">
                <label class="label-input">Confirmar Senha:</label>
                <input type="password" name="confirmarSenha" class="input" placeholder="Digite a senha novamente..." formControlName="confirmarSenha" autocomplete="off">
            </div>
        </div>
    
        <button class="button" type="submit">Criar conta</button>
    </form>
</main>