
.title{
    font-size: 2rem;
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    text-align: center;
}

p{
    margin: 2rem 0;
}

p, span{
    color: rgb(187, 8, 8);
    font-weight: bold;
}

.info-sec {
    display: flex;
    margin: 1.2rem 0;
}

.info-sec .info-one, .info-two{
    margin: 0 1rem;
    width: 100%;
}

input{
    margin-top: 0.5rem;
}

.recaptcha{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 98%;
    margin: 1rem 1rem;
}

@media (max-width: 460px) {

    .info-sec{
        flex-direction: column;
    }

    main{
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
    }

    .info-sec .info-one, .info-two{
        margin: 0;
        width: 100%;
    }

    .button{
        width: 98%;
        margin: 0 auto;
    }
}
