<h2>Criar conta</h2>

<form [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off">
    <label for="nome">Nome Completo</label>
    <input type="text" name="nome" formControlName="nome" autocomplete="off">

    <label for="nome">CPF</label>
    <input type="text" name="cpf" formControlName="cpf" autocomplete="off">

    <label for="nome">Email</label>
    <input type="text" name="email" formControlName="email" autocomplete="off">

    <label for="nome">Telefone</label>
    <input type="text" name="telefone" formControlName="telefone" autocomplete="off">

    <label for="nome">Senha</label>
    <input type="password" name="senha" formControlName="senha" autocomplete="off">

    <button type="submit">Criar conta</button>
</form>