<main>
    <h2 class="title">Cadastre-se</h2>
    <hr class="line">

    <p>* Os campos com asterisco são obrigatórios</p>
    
    <form [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off" class="">
        <div class="info-sec">
            <div class="info-one">
                <label class="label-input"><span>*</span> Nome Completo:</label>
                <input type="text" name="nome" class="input" formControlName="nome" placeholder="Digite seu nome completo..." autocomplete="off">
            </div>
    
            <br>

            <div class="info-two">
                <label class="label-input"><span>*</span> CPF:</label>
                <input type="text" name="cpf" class="input" formControlName="cpf" placeholder="Digite seu CPF..." autocomplete="off" [maxlength]="14" (input)="applyCpfMask($event)">
            </div>
        </div>

        <div class="info-sec">
            <div class="info-one">
                <label class="label-input"><span>*</span> Email:</label>
                <input type="text" name="email" class="input" formControlName="email" placeholder="Digite seu email..." autocomplete="off">
            </div>
            <br>
            <div class="info-two">
                <label class="label-input"><span>*</span> Telefone:</label>
                <input type="text" name="telefone" class="input" formControlName="telefone" placeholder="(99) 99999-9999" autocomplete="off" (input)="applyTelefoneMask($event)">
            </div>
        </div>

        <div class="info-sec">
            <div class="info-one">
                <label class="label-input"><span>*</span> Senha:</label>
                <input type="password" name="senha" class="input" formControlName="senha" placeholder="Digite sua senha..." autocomplete="off">
            </div>
            <br>
            <div class="info-two">
                <label class="label-input"><span>*</span> Confirmar Senha:</label>
                <input type="password" name="confirmarSenha" class="input" placeholder="Digite a senha novamente..." formControlName="confirmarSenha" autocomplete="off">
            </div>
        </div>
    
        <button class="button" type="submit">Cadastrar-se</button>
    </form>
</main>
