<main>
    <h2 class="title">Página Admin</h2>
    <hr class="line">

    <div class="admin-actions">
        <a class="pending-reports" (click)="navigateToPendingReports()" routerLinkActive="active"><h1>Manifestações Pendentes</h1></a>
        <a class="forwarded-reports" (click)="navigateToForwardedReports()" routerLinkActive="active"><h1>Manifestações Encaminhadas</h1></a>
        <a class="completed-reports" (click)="navigateToCompletedReports()" routerLinkActive="active"><h1>Manifestações Concluídas</h1></a>
    </div>
</main>