<main>
    <h2 class="title">Para continuar, realize seu login</h2>
    <hr class="line">

    <form class="formulario" [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off">
        <label class="label-input" for="email">Email:</label>
        <input class="input" type="email" name="email" formControlName="email" placeholder="Digite seu email..." autocomplete="off">
        <br>
        <label class="label-input" for="senha">Senha:</label>
        <input class="input" type="password" name="senha" formControlName="senha" placeholder="Digite sua senha..." autocomplete="off">
        <br>
        <div class="others">
            <a routerLink="/recover-pass">Esqueci a senha.</a>
            <a routerLink="/registration">Cadastre-se aqui.</a>
        </div>
        <button class="button" type="submit">Login</button>
        <div class="others or">
            <hr class="line"><p>Ou</p><hr class="line">
        </div>
        <form class="" (ngSubmit)="anonym()" autocomplete="off">
            <button class="button-anonimo" type="submit">Continuar Anônimamente</button>
        </form>
    </form>
</main>