h2{
    font-size: 2rem;
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    text-align: center;
}

.formulario{
    margin-left: 30%;
    margin-right: 30%;
}

.label-input{
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.button{
    margin: 0 auto;
    width: 100%;
}

a{
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 1rem;

    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 737px) {
    .formulario{
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
    }
}